.form__header {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.back__to__posts__button {
	margin: 34px 0 0 40px;
	width: 166px;
	height: 33px;
	background: #D9D9D9;
	border-radius: 18px;
	border-width: 0px;
	opacity: 0.4;
}

.back__to__posts__button:hover {
	cursor: pointer;
	border-width: 1px;
}

.back__to__posts__button > span {
	padding-left: 5px;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 140%;

	color: #1A2A33;
}

.switch__theme__button {
	border: none;
	background-color: white;
	margin-top: 25px;
}

.switch__theme__button:hover {
	cursor: pointer;
}

.form__body {
    max-width: 1440px;
    margin: 0 auto;
	display: flex;
}

.form__elements {
	display: flex;
	flex-direction: column;
	max-width: 1223px;
}

.title {
	font-family: 'ALS Hauss';
	margin-left: 186px;
	margin-top: 63px;
	width: 490px;
	height: 99px;
	background: #F5F5F5;
	border-radius: 55px;
	border-width: 0px;
	padding-left: 32px;
	font-size: 48px;
	font-weight: lighter;
	font-weight: 200;
}

.textarea {
	font-family: 'ALS Hauss';
	resize: none;
	padding-right: 319px;
	margin-left: 218px;
	margin-top: 49px;
	margin-bottom: 64px;
	width: 1005px;
	height: 466px;
	left: 254px;
	top: 274px;

	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 140%;
	font: "Arial";
	color: #1A2A33;
	border-width: 0px;
	opacity: 0.4;
}

.textarea:focus {
	outline: none !important;
	opacity: 1;
}

.textarea::-webkit-scrollbar {
	width: 12px;
	border-radius: 1px;
	background-color: #F5F5F5;
}

.textarea::-webkit-scrollbar-track {	
	margin-right: 500px;
	border-radius: 1px;
	background-color: #F5F5F5;
}

.textarea::-webkit-scrollbar-thumb {	
	background-color: #E8E8E8;
    border: 3px solid transparent;
    border-radius: 1px;
    background-clip: content-box;
}


.footer__buttons {
	display: flex;
	gap: 10px;
}

.submit__button {
	font-family: 'ALS Hauss';
    padding: 16px 98px;
    gap: 10px;
    
    width: 262px;
    height: 66px;
    
    background: #F5F5F5;
    opacity: 0.2;
    border-radius: 55px;
	border-width: 0px;
}

.submit__button:hover {
	cursor: pointer;
	border-width: 1px;
}

button[value="Publish"] {
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 140%;

	color: #000000;

	flex: none;
	order: 0;
	flex-grow: 0;
}

.addition__file__button {
	margin-left: 210px;
	border-width: 0px;
	background: #F5F5F5;
	border-radius: 50%;
	width: 66px;
	height: 66px;
	opacity: 0.2;
}

.addition__file__button:hover {
	cursor: pointer;
	border-width: 1px;
}

.button__staple {
	background: #F5F5F5;
}